.a1a-content-summary {

  .course-entry {
    width: 800px;
    max-width: 100%;
    margin: 1em auto;
    padding-bottom: 2em;
    border-bottom: 1px solid #eee;

    .course-content {
      p {
        margin-bottom: 1.5em;
      }

      .wp-block-embed__wrapper {
        margin-bottom: 3em;

        iframe {
          border-radius: $border-radius-base;
          box-shadow: 0 5px 10px 0 rgba(1,1,1,.3);
          background: black;
        }
      }

      blockquote.wp-block-quote {
        background: black;
        color: white;
        margin: 1em 0 2em;
        padding: 2em;
        border-radius: $border-radius-base;
        font-family: "Playwrite TZ", serif;
      }

      .wp-block-image{

        .wp-element-caption {
          border-bottom: solid 1px #eee;
          padding-bottom: .5em;
        }

        img {
          border-radius: $border-radius-base;
        }
      }
    }
  }
}
