.a1a-dashboard {

}

.a1a-dashboard,
.a1a-membership-container {

  input[type=text],
  input[type=password],
  input[type=number],
  input[type=tel],
  input[type=email],
  textarea {
    border: solid 1px #ccc;
    padding: 1em;
    box-shadow: none;
    outline: none;
  }

  .button {
    background-color: var(--wp--preset--color--contrast);
    border-radius: .33rem;
    border-color: var(--wp--preset--color--contrast);
    border-width: 0;
    color: var(--wp--preset--color--base);
    font-family: inherit;
    font-size: var(--wp--preset--font-size--small);
    font-style: normal;
    font-weight: 500;
    line-height: inherit;
    padding-top: 0.6rem;
    padding-right: 1rem;
    padding-bottom: 0.6rem;
    padding-left: 1rem;
    text-decoration: none;
    cursor: pointer;

    &:hover {
      background-color: var(--wp--preset--color--contrast-2);
      border-color: var(--wp--preset--color--contrast-2);
      color: var(--wp--preset--color--base);
    }
  }
}

.a1am-button-group {
  letter-spacing: 0;
  display: flex;

  .button {

    &:first-child {
      border-radius: 0.33rem 0 0 0.33rem;
    }

    &:last-child {
      border-radius: 0 0.33rem 0.33rem 0;
    }
  }
}

.a1a-message {
  background: $elem-background-color;
  color: $text-base-color-2;
  padding: $elem-padding;
  margin-bottom: .5em;
  border-radius: $border-radius-base;
  display: flex;
  gap: 1em;
  justify-content: space-between;
  align-items: center;

  &.__type-error {
    background: $warning-color-base;
  }

  &.__type-success {
    background: $success-color-base;
  }
  
  > .message-inner {
    font-size: 14px;
  }

  .__close {
    font-size: 14px;
    cursor: pointer;
    line-height: 0;
  }
}

.a1am-dashboard-block-nav {
  padding-top: 1em;

  .heading-text {
    font-size: 0.7em;
    color: $dashboard-accent-color;
    margin: 0;
    display: inline-block;
    background: #fff;
    padding: 3px 6px;
    border-radius: 3px;
  }
}

ul.a1am-menu {
  margin: 0;
  padding: 0;

  li {
    list-style: none;
  }

  a {
    text-decoration: none;
  }

  .a1am-menu__item {

    > a {
      display: flex;
      align-items: center;
      display: grid;
      grid-template-columns: 22px 1fr;
      gap: 10px;
      padding: .5em 0;
      font-size: 14px;
      color: white;

      .__icon {
        line-height: 0;

        svg {
          fill: white;
        }
      }

      .__text {
        line-height: normal;
      }
    }
  }
}

ul.a1am-menu {
  padding: 1em 0;
  margin-bottom: 1em;
  border-bottom: solid 1px rgba(255,255,255,.15);

  &--sub-menu {
    padding-left: 1em;
  }
}

.menu-courses {

  > li.a1am-menu__item {
    margin-bottom: 1em;
  }
}

.a1am-course-dashboard {
  display: grid;
  grid-template-columns: 300px 1fr;

  &__nav {
    background: $dashboard-nav-background-color;
    padding: 0 2em;
    height: 100%;
    color: white;
    position: sticky;
    top: 0;
    height: 100vh;
    overflow: auto;
  }

  &__entry {
    background: $dashboard-nav-background-color;
    padding: 1.5em;
  }
}

.a1a-course-dashboard-logo {
  font-size: 1.2em;
  margin: 1em 0 .5em;
  padding-bottom: 1.5em;
  border-bottom: solid 1px rgba(255,255,255,.15);

  a {
    color: white;
    text-decoration: none;
    display: flex;
    align-items: center;

    span {
      background: white;
      display: inline-block;
      color: $dashboard-accent-color;
      border-radius: 2px;
      line-height: normal;
      margin-right: 4px;
      padding: 0px 6px;
    }
  }
}

.a1a-content-summary {
  background: white;
  padding: 1em 1.5em;
  border-radius: $border-radius-base;
  min-height: 100vh;
}