$elem-padding: 1em !default;
$elem-background-color: black !default;
$text-base-color: black !default;
$text-base-color-2: white !default;
$lineheight-base: 1.5em !default;
$border-radius-base: 8px !default;

$warning-color-base: #ff6464 !default;
$success-color-base: #367e34 !default;
$field-border-radius-base: 4px !default;

$dashboard-accent-color: #002577;
$dashboard-nav-background-color: $dashboard-accent-color;